.main {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(218, 214, 247);
}

.header {
    height: 40px;
    width: 99.9%;
   /* border: 2px solid red; */
}

.navmenu {
    height: 100px;
    width: 99.8%;
    /* border: 1px solid red; */
}

.bodycontainer {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    position: relative;
}

.bodycontainer .right {
    height: auto;
    width: 30%;
    /* border: 1px solid blue; */
    overflow-y: auto;
}

.right::-webkit-scrollbar {
    display: none;
}

.left {
    height: 100%;
    width: 70%;
    /* border: 1px solid green; */
    position: sticky;
    top: 0px;
}

.Protein {
    width: 99.9%;
    height: 114vh;
    /* background-color: orange; */
    /* border: 2px solid blue; */
}
.proteinStack{
    width: 99.7%;
    height: 160vh;
    /* border: 2px solid red; */
}
.footer{
    width: 99.7%;
    height: 60vh;
    /* border: 2px solid blue; */
    background-color: black;
}